In [41]:
import requests
import json
import pandas as pd
import numpy as np

In [42]:
#Con la funcion charactersDF descargamos y convertimos nuestro csv y nuestra api de personajes a un DF
characters_DF = charactersDF('character-deaths.csv',"https://api.got.show/api/book/characters")

In [43]:
characters_DF

,Name,books,gender,house,alive,id,Book of Death,Gender,GoT,CoK,SoS,FfC,DwD
0,Abelar Hightower,[The Hedge Knight],male,House Hightower,True,5cc08e61888dfb00103cd5e9,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Addam,[],None,NaN,True,5cc08e61888dfb00103cd5ea,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Addam Frey,[The Mystery Knight],male,House Frey,True,5cc08e61888dfb00103cd5eb,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Addam Marbrand,"[A Game of Thrones, A Clash of Kings, A Storm ...",male,House Marbrand[3],True,5cc08e61888dfb00103cd5ec,NaN,1.0,1.0,1.0,1.0,1.0,0.0
4,Addam Osgrey,[The Sworn Sword],male,House Osgrey[1],False,5cc08e61888dfb00103cd5ed,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2097,Zekko,[A Dance with Dragons],male,NaN,True,5cc08e61888dfb00103cdde4,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2098,Zharaq zo Loraq,[A Dance with Dragons],male,House of Loraq,True,5cc08e61888dfb00103cdde5,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2099,Zhoe Blanetree,"[A Clash of Kings, A Storm of Swords, A Feast ...",female,House Blanetree,True,5cc08e61888dfb00103cdde6,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2100,Zia Frey,"[A Clash of Kings, A Storm of Swords, A Feast ...",None,House Frey,True,5cc08e61888dfb00103cdde7,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2101,Zollo,"[A Storm of Swords, A Feast for Crows]",male,Brave Companions,True,5cc08e61888dfb00103cdde8,NaN,1.0,0.0,0.0,1.0,0.0,0.0

###characters_DF col='Genero'###

In [53]:
#Con la función genderChange creamos una nueva columna 'Genero' 
#con la union de las dos columnas 'gender' de antiguo DF y descartamos las anteriores
characters_DF = genderChange('Genero')

In [58]:
#con a función generoOK corregimos los valores de la columna 'Genero' y comprobamos que están ok
generoOK('Male','Female','Unknown')
characters_DF['Genero'].value_counts()

Male       1185
Female      760
Unknown     157
Name: Genero, dtype: int64

###characters_DF col='house'###

In [ ]:
#Pasamos a limpiar la columna 'house' de cada personaje
characters_DF['house'] = characters_DF['house'].replace(regex={r'(&apos;)':"'",r'(\[\d\])':''}).fillna('Without')
characters_DF.house.unique()#estan todos limpios